ReduceImageSize/.vs/ReduceImageSize/v15/Server/sqlite3/storage.ide-wal
ReduceImageSize/.vs/ReduceImageSize/v15/Server/sqlite3/storage.ide-shm
ReduceImageSize/.vs/ReduceImageSize/v15/Server/sqlite3/storage.ide
ReduceImageSize/.vs/ReduceImageSize/v15/.suo
